In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df= pd.read_excel("F:\Data\Liquidity.xlsx")

In [3]:
df.head()

  Ticker  Date/Time  Open  High   Low  Close  Quantity
0    A32 2019-07-26  23.1  23.1  23.1   23.1       100
1    A32 2019-07-29  24.0  24.0  24.0   24.0       100
2    A32 2019-07-30  24.0  24.0  24.0   24.0        33
3    A32 2019-07-31  23.5  23.5  23.5   23.5       200
4    A32 2019-08-01  24.0  24.0  24.0   24.0       400

In [4]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] > fence_low) & (df_in[col_name]< fence_high)]
    return df_out

In [5]:
my_set = set(df["Ticker"])

In [6]:
final_df = pd.DataFrame(columns = ["Ticker", "Date/Time", "Open","High","Low","Close","Quantity"])
for r in my_set:
    res_df1 = df[df['Ticker'] == r]
    res_df2 = remove_outlier(res_df1, "Quantity")
    final_df = final_df.append(res_df2)

In [7]:
final_df

      Ticker  Date/Time   Open   High    Low  Close Quantity
35045    RAL 2019-07-24  84.31  84.80  84.31  84.31     6620
35047    RAL 2019-07-26  83.34  83.34  82.37  83.15     3400
35048    RAL 2019-07-29  82.36  82.36  81.88  81.89     4120
35049    RAL 2019-07-30  81.89  81.89  81.40  81.40     3290
35050    RAL 2019-07-31  80.05  81.40  79.47  80.44     9750
...      ...        ...    ...    ...    ...    ...      ...
30035    OPC 2019-10-21  46.20  49.00  46.20  49.00      540
30036    OPC 2019-10-22  47.45  47.50  47.00  47.00     2250
30037    OPC 2019-10-23  47.00  47.00  46.80  46.80      330
30038    OPC 2019-10-24  47.00  47.00  46.70  46.70      700
30039    OPC 2019-10-25  47.95  47.95  45.00  45.00     4030

[48743 rows x 7 columns]

In [8]:
df['month'] = pd.DatetimeIndex(df['Date/Time']).month

In [9]:
month = list(range(13))

In [10]:
duniq = final_df["Date/Time"].dt.strftime('%y-%m-%d')

In [11]:
final_df['month'] = pd.DatetimeIndex(final_df['Date/Time']).month

In [12]:
final_df_2 = pd.DataFrame(columns = ["Ticker", "Date/Time", "Open","High","Low","Close","Quantity", "Average"])
for a in my_set:
    for m in month:
        res_1 = final_df[final_df['Ticker'] == a]
        res_1['month'] = pd.DatetimeIndex(res_1['Date/Time']).month
        res_2 = res_1[res_1['month'] == m]    
        Average = res_2["Quantity"].mean()
        res_2["Average"] = Average
        final_df_2 = final_df_2.append(res_2)
final_df_2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Admin\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average,Close,Date/Time,High,Low,Open,Quantity,Ticker,month
35045,5436.000000,84.31,2019-07-24,84.80,84.31,84.31,6620,RAL,7.0
35047,5436.000000,83.15,2019-07-26,83.34,82.37,83.34,3400,RAL,7.0
35048,5436.000000,81.89,2019-07-29,82.36,81.88,82.36,4120,RAL,7.0
35049,5436.000000,81.40,2019-07-30,81.89,81.40,81.89,3290,RAL,7.0
35050,5436.000000,80.44,2019-07-31,81.40,79.47,80.05,9750,RAL,7.0
...,...,...,...,...,...,...,...,...,...
30035,1125.789474,49.00,2019-10-21,49.00,46.20,46.20,540,OPC,10.0
30036,1125.789474,47.00,2019-10-22,47.50,47.00,47.45,2250,OPC,10.0
30037,1125.789474,46.80,2019-10-23,47.00,46.80,47.00,330,OPC,10.0
30038,1125.789474,46.70,2019-10-24,47.00,46.70,47.00,700,OPC,10.0
30039,1125.789474,45.00,2019-10-25,47.95,45.00,47.95,4030,OPC,10.0

In [13]:
#Test with 1 ticker in 1 month
res_1 = final_df[final_df['Ticker'] == "AAA"]
res_1['month'] = pd.DatetimeIndex(res_1['Date/Time']).month
res_2 = res_1[res_1['month'] == 8]
res_2["Average"] = res_2["Quantity"].mean()
res_3 = res_2.append(res_2["Average"])
res_3 = res_3.reindex(columns = ["Ticker", "Date/Time", "Open","High","Low","Close","Quantity","Average"])
res_3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

        Ticker  Date/Time   Open   High    Low  Close Quantity       Average
39         AAA 2019-08-01  17.90  18.15  17.70  17.95  3177710  2.061776e+06
40         AAA 2019-08-02  17.90  18.05  17.75  17.85  3410500  2.061776e+06
41         AAA 2019-08-05  17.85  17.90  17.50  17.55  3949330  2.061776e+06
43         AAA 2019-08-07  17.45  17.65  17.45  17.45  2395900  2.061776e+06
44         AAA 2019-08-08  17.50  17.65  17.25  17.50  2482830  2.061776e+06
45         AAA 2019-08-09  17.50  17.75  17.50  17.60  1858000  2.061776e+06
46         AAA 2019-08-12  17.60  17.70  17.35  17.40  1513420  2.061776e+06
47         AAA 2019-08-13  17.35  17.50  17.30  17.40  1718080  2.061776e+06
48         AAA 2019-08-14  17.10  17.40  17.10  17.20  1610620  2.061776e+06
49         AAA 2019-08-15  16.80  17.20  16.80  17.20  1520850  2.061776e+06
50         AAA 2019-08-16  17.20  17.30  17.05  17.05  1329320  2.061776e+06
51         AAA 2019-08-19  17.05  17.30  16.95  16.95   977320  2.061776e+06
52         AAA 2019-08-20  16.95  17.15  16.85  16.85  1504480  2.061776e+06
53         AAA 2019-08-21  16.85  17.05  16.70  16.90  2408380  2.061776e+06
54         AAA 2019-08-22  16.95  17.10  16.90  16.90  1181170  2.061776e+06
55         AAA 2019-08-23  16.90  17.05  16.80  16.95   904360  2.061776e+06
56         AAA 2019-08-26  16.85  16.90  16.30  16.50  2466420  2.061776e+06
57         AAA 2019-08-27  16.55  16.65  16.20  16.25  2401690  2.061776e+06
58         AAA 2019-08-28  16.25  16.40  16.05  16.05  1701810  2.061776e+06
59         AAA 2019-08-29  16.05  16.15  15.80  15.80  2051390  2.061776e+06
60         AAA 2019-08-30  15.90  16.40  15.90  16.40  2733710  2.061776e+06
Average    NaN        NaT    NaN    NaN    NaN    NaN      NaN           NaN

In [14]:
final_df_2.describe()

,Average,Close,High,Low,Open,month
count,4.874300e+04,48743.000000,48743.000000,48743.000000,48743.000000,48743.000000
mean,4.964516e+05,22.643745,22.894128,22.330147,22.619231,8.769116
std,6.100420e+06,48.532072,48.784785,48.256526,48.526444,0.959797
min,1.000000e+00,0.030000,0.060000,0.010000,0.050000,7.000000
25%,1.600533e+03,6.600000,6.700000,6.500000,6.600000,8.000000
50%,1.079267e+04,13.900000,14.000000,13.600000,13.800000,9.000000
75%,1.180079e+05,24.900000,25.050000,24.600000,24.900000,10.000000
max,1.467847e+08,999.590000,1004.170000,996.510000,1001.460000,10.000000

In [39]:
final_df_2.to_csv("F:\Data\cleanv2.csv")

In [15]:
#Thank you for reading